@charset "UTF-8";
@font-face {
  font-family: 'Young-Frankenstein-Rotalic';
  src: url("/font/Young-Frankenstein-Rotalic.ttf.woff") format("woff"), url("/font/Young-Frankenstein-Rotalic.ttf.svg#Young-Frankenstein-Rotalic") format("svg"), url("/font/Young-Frankenstein-Rotalic.ttf.eot"), url("/font/Young-Frankenstein-Rotalic.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.green-color {
  color: #97bf0d; }

.orange-color {
  color: #f19402; }

.show-for-medium-up {
  display: none; }

@media only screen and (min-width: 40em) {
  .show-for-medium-up {
    display: block !important; } }
.show-for-small-only {
  display: none; }

@media only screen and (max-width: 39.9375em) {
  .show-for-small-only {
    display: block !important; } }
.italic {
  font-style: italic; }

.nobold {
  font-weight: normal; }

/* Fix from Foundation Essential to Foundation Complete */
.button-group .button {
  margin: 0 0 1rem 0; }

 .button-group {
    margin-top: 20px;
  }

body {
  font-family: "nimbus-sans", sans-serif; }

input[type="text"], input[type="email"] {
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  border: 0; }

.error input[type="text"], .error input[type="email"] {
  border: 2px solid red; }

.intl-tel-input .country-list {
  text-align: left;
  color: black; }

.intl-tel-input {
  width: 100%; }

label {
  color: #ffffff;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px; }

input[type="submit"] {
  background-color: #f19402;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border: 0;
  text-transform: uppercase;
  font-family: "nimbus-sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px; }

input[type='checkbox'] {
  display: none; }
  input[type='checkbox'] + label span {
    display: inline-block;
    width: 30px;
    height: 24px;
    margin: 6px 10px 0 0;
    vertical-align: middle;
    float: left;
    margin-bottom: 30px; }
  input[type='checkbox'] + label span {
    background: url("/couic2018/img/checkbox.png") right top no-repeat; }
  input[type='checkbox']:checked + label span {
    background: url("/couic2018/img/checkbox.png") 0px top no-repeat; }
  input[type='checkbox'].checkbox-black + label span {
    background: url("/couic2018/img/checkbox-black.png") left top no-repeat; }
  input[type='checkbox'].checkbox-black:checked + label span {
    background: url("/couic2018/img/checkbox-black.png") -30px top no-repeat; }

.show-error {
  color: red; }

.show-error {
  display: none; }

.error > .show-error {
  display: block; }

.share p {
  color: white;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase; }
.share .hashtag {
  font-weight: bold; }
.share > *:not(:last-child) {
  margin-right: 3px; }

.fleche {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 10px; 
  padding-bottom: 12px;}
  .fleche p {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px;}

.number {
  margin: 0 auto;
  font-size: 100px;
  font-weight: bold;
  /*position: absolute;*/
  /*top: 0;*/
  width: 154px;
  height: 154px;
  border: 2px solid white;
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  margin-bottom: 10px; }
  @media only screen and (max-width: 40em) {
    .number {
      margin-bottom: 40px; } }

.arrow {
  position: absolute;
  /* Used to center */
  right: 0;
  left: 0;
  /* */
  /* Arrow for block */ }
  .arrow::after {
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0;
    position: absolute; }
  .arrow.arrow-black::after {
    content: url("/couic2018/img/arrow-black.png"); }
  .arrow.arrow-grey::after {
    content: url("/couic2018/img/arrow-grey.png"); }
  .arrow.arrow-orange::after {
    content: url("/couic2018/img/arrow-orange.png"); }
  .arrow.arrow-green {
    top: -17px;
    z-index: 1; }
  .arrow.arrow-green::after {
    content: url("/couic2018/img/arrow-green.png"); }

.delimiter {
  height: 1px;
  background-color: #f19402;
  margin-top: 40px; }

.header {
  background-color: #000000;
  background-image: url("/couic2018/img/header-background.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header .header-0 {
    text-align: center; }
    .header .header-0 .button {
      background-color: #f19402;
      text-transform: uppercase;
      font-size: 20px;
      padding-right: 40px;
      padding-left: 40px; }
      @media only screen and (min-width: 40em) {
        .header .header-0 .button {
          float: right; } }
  .header .header-1 {
    padding-bottom: 55px; }
    .header .header-1 .header-left {
      text-align: center; }
    .header .header-1 .couic {
      -moz-transform: rotate(-8deg);
      -o-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
      -webkit-transform: rotate(-8deg);
      transform: rotate(-8deg);
      font-family: "Young-Frankenstein-Rotalic";
      color: #f19402;
      font-size: 150px;
      text-align: center;
      margin-bottom: -30px; }
      @media only screen and (max-width: 39.9375em) {
        .header .header-1 .couic {
          font-size: 100px;
          margin-bottom: 10px; } }
    .header .header-1 .sub-couic {
      font-family: "Young-Frankenstein-Rotalic";
      color: #ffffff;
      font-size: 40px;
      text-align: center; }
    .header .header-1 .video {
      height: 324px;
      max-width: 562px;
      border: 5px solid white;
      background-color: #a0a0a0;
      margin: 0 auto; }
  .header .header-2 {
    text-align: center; }
    @media only screen and (min-width: 64em) {
      .header .header-2 .button-group .button:not(:last-child) {
        margin-right: 10px; } }
    .header .header-2 .button-group .button {
      background-color: #f19402;
      min-width: 170px;
      box-shadow: 0px 0px 10px #000000;
      font-size: 18px;
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px; }

.grey {
  background-color: #404040;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #ffffff; }
  .grey .img-stack img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px; }
  .grey h4 {
    margin-top: 20px; }
    @media only screen and (min-width: 40em) {
      .grey h4 {
        display: inline-block; } }
  .grey .grey-1 {
    /* Medium-up */ }
    .grey .grey-1 .part-1 {
      font-size: 23px;
      font-weight: bold; 
      text-align: center; }
    .grey .grey-1 .part-3 {
      font-size: 24px;
      /* Small-only */ }
      .grey .grey-1 .part-3 .cet-acte {
        text-decoration: underline;
        text-transform: uppercase; }
      @media only screen and (max-width: 39.9375em) {
        .grey .grey-1 .part-3 {
          text-align: center; }
          .grey .grey-1 .part-3 img {
            margin-bottom: 20px;
            margin-top: 20px; } }
            .grey-1 .part-1 h3 {
              font-weight: bold;
              padding: 10px;
              font-size: 20px;
              line-height: 24px;
            }
    .row-info {
      padding-left: 30px;
      padding-right: 30px;
    }
    .info .delimiter {
      margin-top: 5px !important;
    }
    .grey .info h3 {
      text-align:center;
      color: #f19402;
      font-family: "Young-Frankenstein-Rotalic";
        font-size: 50px !important;
    }
    .grey .info h4 {
      color: #f19402;
      font-weight: 500;
      text-transform: uppercase;
      }
    .grey .info .img {
      text-align: center;
      }
    .img > img:nth:child(2)
    {
      margin-top: 100px !important;
    }
    .grey .info img {
      max-height: 70px;
      max-width: 100px;
      margin-top: 80px;
    }
    @media only screen and (max-width: 837px) and (min-width: 640px) {
      .grey .info img {
        max-height: 70px;
        max-width: 80px;
        margin-top: 120px;
      }
      .titreInfo {
        margin-top: 45px;
      }
    }
     .grey .ou h3{
        font-size: 30px !important;
      }
    @media only screen and (max-width: 425px) {
    .grey .ou h3{
        font-size: 26px !important;
      }
    }
    .grey .ou {
      margin-top: 30px;
    }
    .grey .box {
      max-width: 300px;
    }
    .grey .box h4 {
      font-weight: bold;
      font-size: 24px;
    }
    .grey .grey-2 .first, .grey .grey-2 .second {
      margin-top: 10px; }
    .grey .info p {
      font-size: 20px;
      margin-top: 0px;
      line-height: 1.3; 
      font-weight: 500}
    .grey .grey-2 .ou p {
      padding-right: 25px;
      }
    .grey .grey-2 .pourquoi p {
      padding-right: 50px;
      }
  .grey .grey-3 {
    /*border-top: 1px solid $orange;*/
    /*margin-top: 40px;*/
    padding-top: 40px;
    /* Text */
    text-align: center;
    font-size: 26px; }

.green {
  background-color: #97bf0d;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px; }
  .green .container {
    max-width: 350px;
    display: inline-block;
  }
 .green .titre h3, .green .titre p {
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 19px;
 }
 .green .titre h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  padding: 3px;
  margin-bottom: 5px;
 }
 .green .stop {
  max-height: 60px;
 }
 .green .info {
  margin-top: 30px;
 }
 .green .info ul {
    list-style-image: url('/couic2018/img/arrow-bullet.png');
    text-align: left;
 }
 .green .info li {
  font-size: 18px;
  padding-left: 5px;
 }
 .green .container {
  padding-left: 30px;
 }
  .green .restrict {
  padding-left: 40px;
  padding-right: 40px;
 }
 .green .restrict p{
  margin-top: 25px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
 }
 .green .container img{
    margin-top: 22px;
    max-width: 150px;
 }
.green .container h4{
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.green .container li {
  line-height: 20px;
  margin-bottom: 8px;
}
.green .container li > span {
  font-weight: bold;
}
.agis {
  background-color: #f19402; }

.petition {
  background-color: #000000;
  background-image: url("/couic2018/img/background-petition.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px; }
  .petition .part-1 {
    /* Used to position the number */
    position: relative; }
    .petition .part-1 h2 {
      color: #97bf0d;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 50px; }
    .petition .part-1 h4 {
      color: #97bf0d;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 21px; }
    .petition .part-1 h3 {
      color: #f19402;
      font-weight: bold;
      font-size: 45px;
      margin-bottom: 30px; }
    .petition .part-1 p {
      line-height: 1.2;
      font-size: 20px; }
  .petition .part-2 {
    padding-top: 40px; }
    .petition .part-2 input[type="checkbox"] + label {
      margin-top: 20px; }

.petition-professionels {
  background-color: #f19402;
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px; }
  .petition-professionels .number-petition {
    background-color: #ffffff;
    color: #f19402;
    font-size: 25px;
    display: inline-block;
    border-radius: 1000px;
    height: 46px;
    width: 46px;
    padding-top: 3px; }
  .petition-professionels .legende-number-petition {
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    margin-left: 30px;
    margin-bottom: 25px; }
  .petition-professionels .part-1 {
    padding-top: 50px;
    /* Used to position the number */
    position: relative; }
    .petition-professionels .part-1 h2 {
      text-transform: uppercase;
      font-weight: bold; }
    .petition-professionels .part-1 p.text-1 {
      margin-top: 40px;
      line-height: 1.2; }
    .petition-professionels .part-1 p.text-1, .petition-professionels .part-1 p.text-2 {
      font-size: 20px; }
    .petition-professionels .part-1 p.ecrivez {
      font-size: 26px;
      text-transform: uppercase; }
  @media only screen and (max-width: 39.9375em) {
    .petition-professionels .part-2 .letter {
      margin-left: -0.625rem;
      margin-right: -0.625rem; } }
  .petition-professionels .part-2 .letter {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
    margin-bottom: 40px; }
  .petition-professionels .part-2 .objet {
    font-size: 26px;
    font-weight: bold; }
  .petition-professionels .part-2 .ou-interpelez {
    font-size: 24px; }
  .petition-professionels .part-3 .legende-number-petition {
    margin-left: 0px; }
  .petition-professionels .part-3 .marque {
    background-color: #ffffff;
    color: #f19402;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%; }
  .petition-professionels .part-3 .marque:not(:last-child) {
    /*margin-right: 30px;*/ }
  .petition-professionels .part-4 {
    padding-top: 20px; }
    .petition-professionels .part-4 .box {
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      text-align: left;
      padding: 20px 45px; }
      .petition-professionels .part-4 .box:first-child {
        margin-bottom: 20px; }

.footer {
  background-color: #404040;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer a, .footer a:focus {
    color: #ffffff; }
  .footer .part-1 {
    text-align: center; }
    .footer .part-1 a, .footer .part-1 a:focus {
      text-decoration: underline; }
    .footer .part-1 h2 {
      text-transform: uppercase;
      font-size: 30px;
      margin-bottom: 20px; }
    .footer .part-1 p {
      font-size: 19px; }
  .footer .part-2 {
    padding-top: 40px;
    text-align: center; }
    .footer .part-2 .suivre {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px; }
      .footer .part-2 .suivre > * {
        display: inline-block; }
      .footer .part-2 .suivre > *:not(:last-child) {
        margin-right: 10px; }
    .footer .part-2 .button {
      background-color: #f19402;
      text-transform: uppercase;
      font-size: 20px;
      padding-right: 40px;
      padding-left: 40px; }
    .footer .part-2 .don-en-confiance {
      margin-bottom: 20px; }
      .footer .part-2 .don-en-confiance p {
        padding-top: 20px; }

.merci {
  background-color: #97bf0d;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  color: white; }
  .merci h1 {
    font-weight: bold;
    text-transform: uppercase; }
  .merci .block-list {
    padding-top: 20px; }
    .merci .block-list .block {
      padding-bottom: 10px;
      padding-top: 30px;
      padding-right: 40px;
      padding-left: 40px;
      background-color: #000000;
      position: relative;
      padding-bottom: 90px;
      margin-top: 20px; }
      .merci .block-list .block h3 {
        line-height: 1;
        margin-bottom: 0;
        font-weight: bold;
        font-family: "Titillium Web", sans-serif; }
      .merci .block-list .block .subprice {
        font-size: 12px;
        font-family: "Titillium Web", sans-serif; }
      .merci .block-list .block .button-container {
        position: absolute;
        margin: 0px auto;
        right: 0px;
        left: 0px;
        bottom: 25px;
        /*max-width: 70%;*/
        width: 100%;
        left: 50%; }
      .merci .block-list .block .button {
        margin-top: 20px;
        background-color: #000000;
        text-transform: uppercase;
        background-color: #7db838;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        /* Vertical align at the bottom + center */
        position: relative;
        left: -50%; }
  .merci .aussi {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px; }

.arrow-merci {
  top: initial !important; }
